
#contactMain {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: calc(5rem + 5vw);
  margin-top: calc(5rem + 10vw);
}

#Message{
  font-size: 1.3rem;
}

#sendbtFollow{

  margin-top: 0%;
  display: flex;
  justify-content: center;
  right: 10%;
  

}

.Contact_box {
  width: 100%;
  height: 65%;
  position: relative;
  justify-content: center;


}

.Contact_box h2 {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #fff;
  text-align: center;
}

.Contact_box .user-box {
  position: relative;
}

.Contact_box .user-box input {
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 0.063rem solid #fff;
  outline: none;
  background: transparent;
}
.Contact_box .user-box label {
  position: absolute;
  top: -.7rem;
  left: 0;
  padding: 0.625rem 0;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  font-size: 1.3rem;

}

.Contact_box .user-box textarea {
  width: 100%;

  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 0.063rem solid var(--skin-color);
  outline: none;
  background: transparent;
   resize: vertical;
}
::-webkit-input-placeholder {
  color: white;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: white;
}

::placeholder {
  color: white;
}

.Contact_box .user-box input:focus ~ label,
.Contact_box .user-box input:valid ~ label {
  top: -1.25rem;
  left: 0;
  color: var(--skin-color);
  font-size: 0.75rem;
}

.Contact_box form a {
  position: relative;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  color: whitesmoke;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 1rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.Contact_box a:hover {
  background: var(--main-link-color);
  color: var(--skin-color);
  border-radius: 0.313rem;
  box-shadow: 0 0 0.313rem var(--main-link-color),
    0 0 1.563rem var(--main-link-color), 0 0 3.125rem var(--main-link-color),
    0 0 6.25rem var(--main-link-color);
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));

}

.Contact_box a span {
  position: absolute;
  display: block;
}

.Contact_box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 0.125rem;
  background: linear-gradient(90deg, transparent, var(--skin-color));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.Contact_box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 0.125rem;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--skin-color));
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.Contact_box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 0.125rem;
  background: linear-gradient(270deg, transparent, var(--skin-color));
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.Contact_box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 0.125rem;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--skin-color));
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.user-box i {
  position: absolute;
  top: 0;
  right: 0.1rem;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  visibility: hidden;
}
.Contact_box .user-box small {
  position: absolute;
  bottom: 0%;
  right: 0%;
  padding: 0.1rem 0;
  font-size: 1rem;
  color: #e74c3c;
  pointer-events: none;
  transition: 0.5s;
  visibility: hidden;
  
}

.user-box.error small {
  visibility: visible;
}

.user-box.success input {
  border-bottom: 0.063rem solid #2ecc71;
}
.user-box.error input {
  border-bottom: 0.063rem solid #e74c3c;
}

.user-box.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}
.user-box.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

#mapdiv{
   position: fixed;
   left: 0;
  
   top:0;
   width: 100%;
   height: 100%;
   z-index: 1000;
   /* overflow-y: scroll; */
   opacity:0;
   visibility: hidden;
   transition: all 1.5s ease;
   display: flex;
   justify-content: center;
   align-items: center;


}
#mapdiv i:hover{
   color: var(--skin-color);
}
#mapdiv i::after{
  border-radius: 50%;
 
}
#mapdiv i{
   position: absolute;
   right:10%;
   border-radius: 50%;
   height: 40px;
   width: 40px;
   top:-15%;
   text-align: center;
   font-size: 28px;
   color: white;
   cursor: pointer;
   transition: all 0.3s ease;
   display: flex;
   align-items: center;
   justify-content: center;

}
#mapdiv .mapinnerdiv{
  /* position: absolute;
  top:2rem;
  color:var(--skin-color);
  right: 5rem;
  font-size: 2rem;
  margin-bottom: 2rem; */
  position: relative;

  width: 100%;
  display: flex;
  justify-content: space-around;
  outline: none !important;

  
}

#mapdiv iframe{
  height: 30rem;
  width: 80%;
  
}


/**===== circle_square =====*/
#circle_square {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
}

#circle_square span {
  width: 16px;
  height: 16px;
  background-color: #000;
  display: inline-block;
  background-color: #18bc9c;
  -webkit-animation: square2 2s infinite ease-in-out both;
          animation: square2 2s infinite ease-in-out both;
}

#circle_square span:nth-child(1) {
  -webkit-animation: preloader_2_1 1.5s infinite ease-in-out;
          animation: preloader_2_1 1.5s infinite ease-in-out;
}

#circle_square span:nth-child(2) {
  left: 20px;
  -webkit-animation: preloader_2_2 1.5s infinite ease-in-out;
          animation: preloader_2_2 1.5s infinite ease-in-out;
}

#circle_square span:nth-child(3) {
  top: 0px;
  -webkit-animation: preloader_2_3 1.5s infinite ease-in-out;
          animation: preloader_2_3 1.5s infinite ease-in-out;
}

#circle_square span:nth-child(4) {
  top: 0px;
  left: 20px;
  -webkit-animation: preloader_2_4 1.5s infinite ease-in-out;
          animation: preloader_2_4 1.5s infinite ease-in-out;
}

@-webkit-keyframes preloader_2_1 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(-20px) translateY(-10px) rotate(-180deg);
            transform: translateX(-20px) translateY(-10px) rotate(-180deg);
    border-radius: 50%;
    background: #3498db;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
            transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
            transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
}

@keyframes preloader_2_1 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(-20px) translateY(-10px) rotate(-180deg);
            transform: translateX(-20px) translateY(-10px) rotate(-180deg);
    border-radius: 50%;
    background: #3498db;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
            transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
            transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
}
@-webkit-keyframes preloader_2_2 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(20px) translateY(-10px) rotate(180deg);
            transform: translateX(20px) translateY(-10px) rotate(180deg);
    border-radius: 50%;
    background: #f1c40f;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
            transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
            transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
}
@keyframes preloader_2_2 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(20px) translateY(-10px) rotate(180deg);
            transform: translateX(20px) translateY(-10px) rotate(180deg);
    border-radius: 50%;
    background: #f1c40f;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
            transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
            transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
}
@-webkit-keyframes preloader_2_3 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(-20px) translateY(10px) rotate(-180deg);
            transform: translateX(-20px) translateY(10px) rotate(-180deg);
    border-radius: 50%;
    background: #2ecc71;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
            transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
            transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
}
@keyframes preloader_2_3 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(-20px) translateY(10px) rotate(-180deg);
            transform: translateX(-20px) translateY(10px) rotate(-180deg);
    border-radius: 50%;
    background: #2ecc71;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
            transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
            transform: translateX(0px) translateY(0px) rotate(-360deg);
    border-radius: 0px;
  }
}
@-webkit-keyframes preloader_2_4 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(20px) translateY(10px) rotate(180deg);
            transform: translateX(20px) translateY(10px) rotate(180deg);
    border-radius: 50%;
    background: #e74c3c;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
            transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
            transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
}
@keyframes preloader_2_4 {
  0% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
    border-radius: 0px;
  }
  50% {
    -webkit-transform: translateX(20px) translateY(10px) rotate(180deg);
            transform: translateX(20px) translateY(10px) rotate(180deg);
    border-radius: 50%;
    background: #e74c3c;
  }
  80% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
            transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
            transform: translateX(0px) translateY(0px) rotate(360deg);
    border-radius: 0px;
  }
}
/** END of circle_square */

