@media(max-width: 991px){
	.portfolio-section .portfolio-item,
	.service-section .service-item{
		flex: 0 0 50%;
        max-width: 50%;
	}
}

@media(max-width: 900px){
.social-links .about-item-inner{
	margin: 0 10px;

}

.contact-section .contact-item{
	margin-top: 2rem;
}

.navbar__item:nth-child(1) {
  order: 5;
}
.navbar__item:nth-child(2) {
  order: 4;
}
.navbar__item:nth-child(3) {
  display: block;
  order: 1;
}
.navbar__item:nth-child(4) {
  display: none;
  order: 6;
}

.navbar__item:nth-child(5) {
  display: none;
  order: 7;

}

.navbar__item:nth-child(6) {
  order: 2;
}

.navbar__item:nth-child(7) {
  order: 3;
}


nav {
  position: absolute;
  background: transparent;
  left: 0;
  

}


#logo{
  display: none;
}

.navbar__container {
  width: 90%;
  display: flex;
  position: fixed;
  bottom: 0rem;
  left: 0;
  transition: 1s;
  z-index: 5;
  border-radius: 0rem;
  border: none;
  padding: 0;
  box-shadow:none;
  backdrop-filter: none;



    background: none;
  -webkit-background: none;
  -moz-background: none;
  -ms-background: none;
  -o-background:none;
  box-sizing: border-box;
  /* box-shadow: 0 0 9.938rem 1.563rem rgba(0, 0, 0, 0.6); */
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;

  backdrop-filter: blur(0rem);
  -webkit-backdrop-filter: blur(0rem);
  -moz-backdrop-filter: blur(0rem);
  -ms-backdrop-filter: blur(0rem);
  -o-backdrop-filter: blur(0rem);
    
}
.MainBackGround{
	padding: 0;

}

.navbar__container ul{
  /* border: 2px solid var(--skin-color); */
  width: 100vw;
  

}

.navbar__container a{

  display: flex;
  justify-content: center;
  width: 97vw;


}

.navbar__menu {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(5rem + 35vh);
  position: absolute;
  bottom: -82.5rem;
  opacity: 1;
  transition: all 3s ease;
  padding-left: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  z-index: -1;
  padding-bottom: 6rem;


}

.navbar__menu.active {
  bottom: -1%;
  opacity: 1;
  transition: all 1s ease;

  /* height: calc(5rem + 30vh); */
  font-size: calc(0.5em + 2vw);
}

.sticky {
  background: transparent;
  backdrop-filter: blur(0rem);
  font-size: 1rem;
  animation: 2s;
  padding: 0;
}

.navbar__toggle {
  padding: calc(0.6rem + 1vw);
}

.navbar__toggle .bar {
  width: 1.5rem;
  height: 0.188rem;
  margin: 0.313rem auto;
  transition: all 0.5s ease-in-out;
  background: #fff;
  z-index: 2;

  display: block;
  cursor: pointer;
}

.navbar__item {
  width: calc(3rem + 70vw);
  left: -5%;
  height: 25%;
  padding-bottom: 2.5rem;
}

.navbar__links {
  padding-top: 1.5rem;
  display: table;
}

.navbar__item::after {
    background: transparent;
}

#mobile-menu {
  position: absolute;
  top: calc(-2rem + -2vw);
  right: 0%;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(0.5rem) rotate(45deg);
  background-color: var(--skin-color);
}

#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-0.5rem) rotate(-45deg);
  background-color: var(--skin-color);
}
/* --------------------------------------------------Navbar ENDnavbar__item */
	.contact-section .w-50,
	.contact-section .contact-item,
	.portfolio-popup .description,
	.portfolio-popup .info,
	.portfolio-section .portfolio-item,
	.service-section .service-item,
	.about-section .skills .skill-item,
	.about-section .about-info,
	.about-section .about-img,
	.home-section .home-text, 
	.home-section .home-img{
		flex: 0 0 100%;
        max-width: 100%;
	}
	.home-section .home-text{
		order: 2;
	}
	.contact-section .submit-btn,
	.home-section .home-text{
		text-align: center;
	}
	.home-section .full-screen{
		padding: 100px 0;
	}
	.home-section .home-img .img-box{
		margin-bottom: 40px;
		max-width: 350px;
	}
	.effect-3{
		margin-left: -60px;
	}
	.effect-4{
		left: 15%;
	}
	.effect-5{
		right: 4%;
	}
	.about-section .about-img{
		padding-bottom: 30px;
	}
	.about-section .timeline .timeline-item:nth-child(odd){
		padding-right: 15px;
        text-align: left;
        padding-left: 75px;
	}
	.about-section .timeline .timeline-item:nth-child(even){
		padding-left: 75px;
	}
	.about-section .timeline:before{
		left: 35px;
	}
	.about-section .timeline .timeline-item:nth-child(odd) .icon{
		right: auto;
		left: -60px;
	}
	.about-section .timeline .timeline-item:nth-child(even) .icon{
	    left: -60px;	
	}
	.about-section .timeline .timeline-item{
		margin-bottom: 40px;
	}
	.about-section .timeline .timeline-item:last-child{
		margin-bottom:0;
	}
	.about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before{
		left:-30px;
		right:auto;
	}
}

@media(max-width: 574px){
	.home-section .home-img .img-box{
		max-width: 260px;
	}
    .home-section .home-text h2{
    	font-size: 40px;
    }
}


