

html {
	font-size: 62.5%;
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}


img{
	max-width: 100%;
	height: auto;
}

#imgback{
    width: 3.5rem;
    margin-left: 1rem;
    
}

#textback{
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    font-weight: bold;
    color: white;
}

#textback:hover{
    cursor: pointer;
}

.row {
	width: 94%;
	max-width: 1170px;
	margin: 0 auto;
}
.row:before, .row:after {
	content: "";
	display: table;
}
.row:after {
	clear: both;
}

@media screen and (max-width:1390px) {
	.row .row {
		margin-left: -18px;
		margin-right: -18px;
	}
        #socialmedia ul a:last-child{
        margin-left: 0;
    }



}

/**
 * tablets - (_grid.scss)
 * --------------------------------------------------------------- 
 */

@media screen and (max-width: 970px) {
	.row {
		width: auto;
		padding-left: 30px;
		padding-right: 30px;
	}
	.row .row {
		padding-left: 0;
		padding-right: 0;
		margin-left: -15px;
		margin-right: -15px;
	}
        #socialmedia ul a{
        margin-left: 0;
    }
	
}
@media screen and (max-width:770px) {
	.row {
		padding-left: 25px;
		padding-right: 25px;
	}
	.row .row {
		margin-left: -10px;
		margin-right: -10px;
	}



}

/**
 * small mobile devices - (_grid.scss)
 * --------------------------------------------------------------- 
 */



html {
  font-size: 10px;
}
@media only screen and (max-width: 1024px) {
  html {
    font-size: 9.375px;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 9.375px;
  }
}

body {
  background: #151515;
  font-family: "roboto-regular", sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #6e6e6e;
}


header {
  text-align: center;
  padding: 6rem 0 4.2rem;
  margin-bottom: 6.6rem;
  position: relative;
}
header::after {
  content: "";
  width: 150px;
  height: 3px;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media only screen and (max-width: 1024px) {
  header .row {
    max-width: 700px;
  }
}
header h1 {
  font-size: 5.2rem;
  line-height: 1.385;
  letter-spacing: -.1rem;
  color: white;
}
header h1 span {
  color: #c25d02;
}
@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 4rem;
    letter-spacing: -.07rem;
  }
}




#socialmedia {
position: relative;
 color: white;
 text-transform: uppercase;
	max-width: 50vw;
	height: auto;
 left: 50%;
transform: translateX(-50%);
padding: 0.4rem;
transition: color 0.8s;
 }




 #socialmedia ul{
     display: flex;
     justify-content: center;
     align-content: center;
     flex-wrap: wrap;
     padding-top: 0%;


 }

 #socialmedia a{
     color: white;
      text-decoration: none;
      transition: text-decoration 0.4s;
      margin: 0 5rem;
      text-align: center;
      
      
 }
#socialmedia a:first-child{
margin-left: 0;
}
#socialmedia a:last-child{

}

#socialmedia a::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #c25d02;
  transition: 300ms;
}
#socialmedia a:hover::after {
  width: 100%;
}


        h4 {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 50vw;

            position: relative;
             left: 50%;
            transform: translateX(-50%);
            margin: 0;
        }
        h4 p{
            margin: 0 1rem;
            color: #c25d02;
        }
          
        h4:before,
        h4:after {
            content: "";
            flex: 1 1;
            border-bottom: 2px solid white;
            margin: auto;

            
        }
          