.serviceSection {
  color: white;
  display: flex ;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  padding-top: 0;

}
.hobbiesSection {
  margin: 2rem;
}
.container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 1rem; /* Adds space between items */
  justify-content: center; /* Centers items horizontally */
}
.h3 {
  margin: 0 1rem;
  font-size: 2rem;
}
.serviceItemContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.serviceItem {
  flex: 1 1 calc(33.333% - 2rem);
  max-width: calc(33.333% - 2rem);
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
}

.iconContainer {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--dynamic-match-bg-img-color);
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .serviceItem {
    flex: 1 1 calc(50% - 2rem); /* Two items per row on medium screens */
    max-width: calc(50% - 2rem);
  }
}

@media (max-width: 768px) {
  .serviceItem {
    margin: 0 1rem;;
    flex: 1 1 100%; /* One item per row on small screens */
    max-width: 100%;
  }
  .h3 {
  font-size: 5.5vw;
}
}

@media (max-width: 600px) {
  .serviceItem {
    margin: 0rem;;
  }
  .timelineItemInner {
    padding: 0rem;
  }


}
@media (max-width: 350px) {
  .serviceSection {
      padding: 1rem;
  padding-top: 0;
  }


}
